.hex-container {
    position: relative;
}

.hex-container::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    height: 6.5rem;
    width: 5.5rem;
    background-color: aqua;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    z-index: -1;
}

.hex {
    height: 6rem;
    width: 5rem;
    background-image: url('../img/tree.png');
    background-size: cover;
    background-position: center;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}