.div-borders {
    border: 0.5vh;
    border-radius: 3rem;
    border-style: solid;
    border-color: black;
}

.base-div-formatting {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.title-text-formatting {
    font-weight: bolder;
    font-size: 2rem;
    color: black;
}

.base-text-formatting {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.asd {
    width: 100%;
}

.sda {
    align-items: center;
}